{{- if and .Values.loadgen.enabled (eq .Values.loadgen.mode "deployment") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.loadgen.name }}
  labels:
    app: {{ .Values.loadgen.name }}
    tenant: {{ .Values.global.tenantId }}
    component: loadgen
spec:
  replicas: {{ .Values.loadgen.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.loadgen.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.loadgen.name }}
        tenant: {{ .Values.global.tenantId }}
        component: loadgen
    spec:
      {{- if or .Values.global.imagePullSecrets .Values.loadgen.image.pullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
        {{- range .Values.loadgen.image.pullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      containers:
      - name: loadgen
        {{- $registry := .Values.global.imageRegistry }}
        {{- $repo := .Values.loadgen.image.repository }}
        {{- $tag := .Values.loadgen.image.tag }}
        {{- if $registry }}
        image: "{{ $registry }}/{{ $repo }}:{{ $tag }}"
        {{- else }}
        image: "{{ $repo }}:{{ $tag }}"
        {{- end }}
        imagePullPolicy: {{ .Values.loadgen.image.pullPolicy | default .Values.global.imagePullPolicy }}
        command: ["/app/run-headless.sh"]
        env:
        {{- if .Values.global.envs }}
        {{- include "demo-app.processEnvsList" (dict "envs" .Values.global.envs "ctx" .) | nindent 8 }}
        {{- end }}
        {{- if .Values.loadgen.env }}
        {{- include "demo-app.processEnvsList" (dict "envs" .Values.loadgen.env "exclude" (list "TARGET_HOST") "ctx" .) | nindent 8 }}
        {{- end }}
        {{- if .Values.loadgen.env }}
        {{- range .Values.loadgen.env }}
        {{- if eq .name "TARGET_HOST" }}
        - name: TARGET_HOST
          value: {{ .value | quote }}
        {{- end }}
        {{- end }}
        {{- end }}
        - name: TENANT_ID
          value: {{ .Values.global.tenantId | quote }}
        {{- if .Values.global.useNodeLocalEndpoint }}
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: OTLP_PORT
          value: {{ .Values.global.otlpPort | quote }}
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://$(NODE_IP):$(OTLP_PORT)"
        {{- else }}
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: {{ .Values.global.otlpEndpoint | quote }}
        {{- end }}
        resources:
          {{- toYaml .Values.loadgen.resources | nindent 10 }}
{{- end }}

