mode: "deployment"

image:
  repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s"

presets:
  kubernetesEvents:
    enabled: true
  clusterMetrics: 
    enabled: true

extraEnvs:
  - name: NEW_RELIC_LICENSE_KEY
    valueFrom:
      secretKeyRef:
        name: newrelic-license-key
        key: license-key
  - name: NEW_RELIC_LICENSE_KEY_TENANT1
    valueFrom:
      secretKeyRef:
        name: newrelic-license-key-tenant1
        key: license-key
  - name: NEW_RELIC_LICENSE_KEY_TENANT2
    valueFrom:
      secretKeyRef:
        name: newrelic-license-key-tenant2
        key: license-key

config:
  connectors:
    routing/metrics:
      default_pipelines: [metrics]
      table:
        - context: metric
          condition: 'resource.attributes["k8s.namespace.name"] == "tenant1"'
          pipelines: [metrics/tenant1]
        - context: metric
          condition: 'resource.attributes["k8s.namespace.name"] == "tenant2"'
          pipelines: [metrics/tenant2]
        # - context: metric
        #   statement: route()
        #   pipeline: metrics

    routing/traces:
      # default_pipelines: [traces]
      table:
        # - context: span
        #   statement: route()
        #   pipelines: [traces]
        - context: span
          condition: 'resource.attributes["k8s.namespace.name"] == "tenant1"'
          pipelines: [traces/tenant1]
        - context: span
          condition: 'resource.attributes["k8s.namespace.name"] == "tenant2"'
          pipelines: [traces/tenant2]

  exporters:
    otlphttp/newrelic:
      endpoint: https://otlp.nr-data.net
      headers:
        api-key: ${NEW_RELIC_LICENSE_KEY}
    otlphttp/tenant1:
      endpoint: https://otlp.nr-data.net
      headers:
        api-key: ${NEW_RELIC_LICENSE_KEY_TENANT1}
    otlphttp/tenant2:
      endpoint: https://otlp.nr-data.net
      headers:
        api-key: ${NEW_RELIC_LICENSE_KEY_TENANT2}

  processors:
    cumulativetodelta: {}
    transform/nr:
      metric_statements:
        - context: datapoint
          statements:
            # Adds the attribute only if the scope name matches
            # - set(attributes["newrelic.entity.type"], "k8s") where instrumentation_scope.name == "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/kubeletstatsreceiver"
            - set(attributes["newrelic.entity.type"], "k8s") where IsMatch(instrumentation_scope.name, ".*kubeletstatsreceiver.*")
    
    # resource/newrelic:
    #   attributes:
    #     # We set the cluster name to what the customer specified in the helm chart
    #     - key: k8s.cluster.name
    #       action: upsert
    #       value: multitenant
    #     - key: "newrelic.chart.version"
    #       action: upsert
    #       value: 0.0.0
    #     - key: newrelic.entity.type
    #       action: upsert
    #       value: "k8s"

  service:
    telemetry:
      metrics:
        readers:
          - pull:
              exporter:
                prometheus:
                  host: ${env:MY_POD_IP}
                  port: 8888
    extensions:
      - health_check
    pipelines:
      # logs:
      #   exporters:
      #     - debug
      #     - otlphttp/newrelic
      #   processors:
      #     - memory_limiter
      #     - batch
      #   receivers:
      #     - otlp

      # metrics/nr:
      #   exporters:
      #     - debug
      #     - otlphttp/newrelic
      #   processors:
      #     - memory_limiter
      #     - batch
      #   receivers:
      #     - otlp

      metrics:
        exporters:
          - debug
          - otlphttp/newrelic
        processors:
          - memory_limiter
          - cumulativetodelta
          - transform/nr
          - batch
        receivers:
          - routing/metrics

      traces/in:
        receivers: [otlp]
        exporters: [routing/traces]

      traces:
        exporters:
          # - debug
          - otlphttp/newrelic
        processors:
          - memory_limiter
          - batch
        receivers:
          - routing/traces

      traces/tenant1:
        exporters:
          # - debug
          - otlphttp/tenant1
        processors:
          - memory_limiter
          - batch
        receivers:
          - routing/traces
      
      traces/tenant2:
        exporters:
          # - debug
          - otlphttp/tenant2
        processors:
          - memory_limiter
          - batch
        receivers:
          - routing/traces

      metrics/in:
        receivers: [otlp]
        exporters: [routing/metrics]

      metrics/tenant1:
        receivers: [routing/metrics]
        processors: [memory_limiter, cumulativetodelta, transform/nr, batch]
        exporters: [otlphttp/tenant1]

      metrics/tenant2:
        receivers: [routing/metrics]
        processors: [memory_limiter, cumulativetodelta, transform/nr, batch]
        exporters: [otlphttp/tenant2]

ports:
  jaeger-compact:
    enabled: false
  jaeger-thrift:
    enabled: false
  jaeger-grpc:
    enabled: false
  zipkin:
    enabled: false