apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: opentelemetry-collector-daemonset
  namespace: observability
spec:
  mode: daemonset
  serviceAccount: otel-collector
  hostNetwork: true
  # Add container-level security context
  securityContext:
    runAsUser: 0
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: true
  env:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: K8S_NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: K8S_NODE_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
    - name: NEW_RELIC_LICENSE_KEY
      valueFrom:
        secretKeyRef:
          name: newrelic-license-key
          key: license-key
    - name: K8S_CLUSTER_NAME
      value: "openshift"
  volumeMounts:
    - name: hostfs
      mountPath: /hostfs
    - name: varlogpods
      mountPath: /var/log/pods
      readOnly: true
  volumes:
    - name: hostfs
      hostPath:
        path: /
    - name: varlogpods
      hostPath:
        path: /var/log/pods
  config:

    exporters:
      debug: {}
      otlphttp/gateway:
        endpoint: http://opentelemetry-collector-deployment-collector.observability.svc.cluster.local:4318
      otlphttp/newrelic:
        endpoint: https://otlp.nr-data.net
        headers:
          api-key: ${NEW_RELIC_LICENSE_KEY}

    extensions:
      health_check:
        endpoint: ${env:MY_POD_IP}:13133

    processors:
      batch: {}
      cumulativetodelta: {}
      resource/newrelic:
        attributes:
        - key: newrelic.entity.type
          action: upsert
          value: "k8s"
        - key: "newrelic.chart.version"
          action: upsert
          value: 0.0.0
        - key: newrelic.entity.type
          action: upsert
          value: "k8s"
        - key: k8s.cluster.name
          action: upsert
          value: ${env:K8S_CLUSTER_NAME}
      k8sattributes:
        extract:
          metadata:
          - k8s.namespace.name
          - k8s.pod.name
          - k8s.pod.uid
          - k8s.node.name
          - k8s.pod.start_time
          - k8s.deployment.name
          - k8s.replicaset.name
          - k8s.replicaset.uid
          - k8s.daemonset.name
          - k8s.daemonset.uid
          - k8s.job.name
          - k8s.job.uid
          - k8s.container.name
          - k8s.cronjob.name
          - k8s.statefulset.name
          - k8s.statefulset.uid
          - container.image.tag
          - container.image.name
          - k8s.cluster.uid
          otel_annotations: true
        filter:
          node_from_env_var: K8S_NODE_NAME
        passthrough: false
        pod_association:
        - sources:
          - from: resource_attribute
            name: k8s.pod.ip
        - sources:
          - from: resource_attribute
            name: k8s.pod.uid
        - sources:
          - from: connection
      memory_limiter:
        check_interval: 5s
        limit_percentage: 80
        spike_limit_percentage: 25

    receivers:
      filelog:
        exclude:
        - /var/log/pods/otel-collector_opentelemetry-collector-daemonset*_*/opentelemetry-collector/*.log
        include:
        - /var/log/pods/*/*/*.log
        include_file_name: false
        include_file_path: true
        operators:
        - id: container-parser
          max_log_size: 102400
          type: container
        retry_on_failure:
          enabled: true
        start_at: end
      hostmetrics:
        collection_interval: 30s
        root_path: /hostfs
        scrapers:
          cpu: null
          disk: null
          filesystem:
            exclude_fs_types:
              fs_types:
              - autofs
              - binfmt_misc
              - bpf
              - cgroup2
              - configfs
              - debugfs
              - devpts
              - devtmpfs
              - fusectl
              - hugetlbfs
              - iso9660
              - mqueue
              - nsfs
              - overlay
              - proc
              - procfs
              - pstore
              - rpc_pipefs
              - securityfs
              - selinuxfs
              - squashfs
              - sysfs
              - tracefs
              match_type: strict
            exclude_mount_points:
              match_type: regexp
              mount_points:
              - /dev/*
              - /proc/*
              - /sys/*
              - /run/k3s/containerd/*
              - /var/lib/docker/*
              - /var/lib/kubelet/*
              - /snap/*
          load: null
          memory: null
          network: null
      kubeletstats:
        auth_type: serviceAccount
        collection_interval: 20s
        endpoint: ${env:K8S_NODE_IP}:10250
        insecure_skip_verify: true
        metrics:
          k8s.container.cpu_limit_utilization:
            enabled: true
          k8s.pod.cpu_limit_utilization:
            enabled: true
          k8s.pod.cpu_request_utilization:
            enabled: true
          k8s.pod.memory_limit_utilization:
            enabled: true
          k8s.pod.memory_request_utilization:
            enabled: true
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
            
    service:
      extensions:
      - health_check
      pipelines:
        logs:
          exporters:
          - otlphttp/gateway
          # - debug
          processors:
          - memory_limiter
          - k8sattributes
          - resource/newrelic
          - batch
          receivers:
          - otlp
          - filelog
        metrics:
          exporters:
          - otlphttp/gateway
          # - debug
          processors:
          - memory_limiter
          - k8sattributes
          - resource/newrelic
          - batch
          receivers:
          - otlp
          # - prometheus
          - hostmetrics
          - kubeletstats
        traces:
          exporters:
          - otlphttp/gateway
          - debug
          processors:
          - memory_limiter
          - k8sattributes
          - batch
          receivers:
          - otlp
      telemetry:
        metrics:
          level: "basic"
          readers:
            - periodic:
                exporter:
                  otlp:
                    protocol: http/protobuf
                    endpoint: "https://otlp.nr-data.net"
                    headers:
                      - name: api-key
                        value: "${NEW_RELIC_LICENSE_KEY}"