mode: "daemonset"

image:
  repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s"

presets:
  logsCollection:
    enabled: true
  hostMetrics:
    enabled: true
  kubernetesAttributes:
    enabled: true
  kubeletMetrics:
    enabled: true

extraEnvs:
  - name: NEW_RELIC_LICENSE_KEY
    valueFrom:
      secretKeyRef:
        name: newrelic-license-key
        key: license-key

config:
  exporters:
    debug:
      verbosity: detailed
    otlphttp/gateway:
      endpoint: http://opentelemetry-collector-deployment.otel-collector.svc.cluster.local:4318
    otlphttp/newrelic:
      endpoint: https://otlp.nr-data.net
      headers:
        api-key: ${NEW_RELIC_LICENSE_KEY}
  processors:
    cumulativetodelta: {}

    # resource/newrelic:
    #   attributes:
    #     - key: k8s.cluster.name
    #       action: upsert
    #       value: multitenant
    #     - key: "newrelic.chart.version"
    #       action: upsert
    #       value: 0.0.0
    #     - key: newrelic.entity.type
    #       action: upsert
    #       value: "k8s"

  receivers:
    zipkin: null
    jaeger: null
    hostmetrics:
      collection_interval: 30s
      scrapers:
        cpu:
        memory:
    kubeletstats:
      insecure_skip_verify: true

  service:
    telemetry:
      metrics:
        readers:
          - pull:
              exporter:
                prometheus:
                  host: ${env:MY_POD_IP}
                  port: 8888
    extensions:
      - health_check
    pipelines:
      logs:
        exporters:
          # - debug
          - otlphttp/gateway
        processors:
          - memory_limiter
          - batch
        receivers:
          - otlp
      metrics:
        exporters:
          - debug
          - otlphttp/gateway
        processors:
          - memory_limiter
          - batch
        receivers:
          - otlp
          # if internalTelemetryViaOTLP.metrics.enabled = true, prometheus receiver will be removed
          - prometheus
      traces:
        exporters:
          # - debug
          - otlphttp/gateway
        processors:
          - memory_limiter
          - k8sattributes
          - batch
        receivers:
          - otlp

ports:
  jaeger-compact:
    enabled: false
  jaeger-thrift:
    enabled: false
  jaeger-grpc:
    enabled: false
  zipkin:
    enabled: false
          
clusterRole:
  # Specifies whether a clusterRole should be created
  # Some presets also trigger the creation of a cluster role and cluster role binding.
  # If using one of those presets, this field is no-op.
  create: false
  # Annotations to add to the clusterRole
  # Can be used in combination with presets that create a cluster role.
  annotations: {}
  # The name of the clusterRole to use.
  # If not set a name is generated using the fullname template
  # Can be used in combination with presets that create a cluster role.
  name: ""
  # A set of rules as documented here : https://kubernetes.io/docs/reference/access-authn-authz/rbac/
  # Can be used in combination with presets that create a cluster role to add additional rules.
  rules:
  - apiGroups:
    - ''
    resources:
    - 'nodes' # added to support cadvisor and kubelet prometheus scrape configs
    - 'nodes/metrics'
    - 'nodes/spec'
    - 'nodes/stats'
    - 'nodes/proxy'
    verbs:
    - 'get'
    - 'list'
    - 'watch'
